/* propiedad responsiva*/
:root{
    --space-1: 8px;
    --space-2: 16px;
    --space-3: 24px;
    --space-4: 12px;
    --font-base: 16px;
}

@media (min-width: 480px){
  :root{ --font-base: 17px; }
}
@media (min-width: 768px){
  :root{ --font-base: 18px; }
}

html { font-size: var(--font-base); }

/* Estilo para el login de la paguina */

/*Al ser el login page el padre de la estrctura este le dara el centrado a la vista*/
.login-page{
    display: grid;
    min-height: 100dvh;
    place-items: center;
    background-image: url("../assets/background-login.avif");
    background-color: rgb(47, 181, 134);
    padding: 16px;
    font-family: "coco", Sans-serif;;
}

/* Cards para el login*/
.login-card{
    width: 100%;
    max-width: 420px;;
    background-color: #405bbc;
    border: 1px solid #000001;
    border-radius: 12px;
    padding: 28px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.06);
}

.login-title{
    margin: 0 0 16px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
}

/* Formulario*/
.form-group{
    display: grid;
    gap: 8px;
    margin-bottom: 16px;
}

label{
    font-size: 0.9rem;
    color: #ffffff;
    font-family: "coco", Sans-serif;
}

input{
    appearance: none;
    width: 100%;
    border: 1px solid #5387d4;
    border-radius: 8px;
    padding: 8px 5px;
    font-size: 0.95rem;
    outline: none;
    transition: border-color 120ms ease, box-shadow 120ms ease;
    background: #fff;
}

input:focus{
    border-color: #69928b;
    box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.3);
}


/* Estilo para el boton de aceptacion*/
.submit-btn{
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 10px 14px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #fff;
    color: rgb(69, 80, 193);
    cursor: pointer;
    transition: filter 140ms ease;
    filter: brightness(150%);
    
}

.submit-btn:disabled{
    opacity: 0.4;
    cursor: not-allowed;
}

.submit-btn:not(:disabled):hover{
    filter: brightness(0.95)
}